!!!
%html
  %head
    %title ZenFit Kids Camps
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/main.css'}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
    %script{:crossorigin => "anonymous", :integrity => "sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", :src => "https://code.jquery.com/jquery-2.2.3.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
  %body
    .nav
      %img{src: '/images/logo.jpg', style: 'width: 180px; height: auto;'}
      %h1
        Kids Camp
    .container{style: 'max-width: 600px;'}
      %h3
        Sign-up today for the June 13th - 17th session!
      %br
      .form-group
        %label{:for => "parent-name"} Parent's Name
        %input#parent-name.form-control{placeholder: "Parent's Name", type: "text"}
      .form-group
        %label{:for => "email"} Email Address
        %input#email.form-control{:placeholder => "Email", :type => "email"}

      %form#checkout{:action => "/checkout", :method => "post"}
        #payment-form
        %input{type: "submit", value: "Register for Camp $400", class: 'btn-lg'}

      %script{:src => "https://js.braintreegateway.com/js/braintree-2.24.0.min.js"}
      :javascript
        var clientToken = "#{bt_token}";

        braintree.setup(clientToken, "dropin", {
          container: "payment-form",
          paypal: {
            button: {
              type: 'checkout'
            }
          }
        });
