.container{style: 'max-width: 600px;'}
  .nav
    %img{src: '/images/logo.jpg', style: 'width: 180px; height: auto;'}
    %h1
      Kids Camp
  .well
    %h3
      Sign-up today for the August 8th - 12th session!
    %hr
    :plain
      <iframe width="480" height="360" style='display: block; margin: 0 auto; padding-bottom: 20px;' src="https://www.youtube.com/embed/x5zZtKTfeAk" frameborder="0" allowfullscreen></iframe>
    %p 
      Zen Fit’s Parent approved and praised summer camps are back for another year of fun and exercise! Tuition for 
      students currently enrolled in our Zen Youth program is <strong>$500 for the mini-week</strong> or <strong>$400 early bird</strong> (sign-up before July 15th)
      for camp.  We will offer payment plans for current students and families for their dedication and support of our dojo.
    %p 
      Pre paid Tuition payments must be made before the 1st of August. Full payments are expected regardless of actual attendance 
      and/or holidays.  The cost structure of our program is based on this assumption. Please consider that you are receiving 
      Camp care as well as daily martial arts instruction. Tuition payments will not be pro-rated over incomplete week.  This 
      includes holidays and school closures.
    %p <strong>Costs include:</strong>
    %ul
      %li Meals, full lunch and afternoon snack
      %li ZenFit camp t-shirt
      %li Instructor fees
      %li AC/Heat
      %li Water
      %li Insurance
    %p.total <strong>Total (Before July 15th):</strong> $400.00
    .stripe-form.center-block
      %form.payment{:action => "/charge", :method => "post"}
        %script.stripe-button{"data-amount" => "40000", 
        "data-image" => "/images/zen-flame.png",
        "data-name" => "ZenFit Summer Camp",
        "data-description" => "Early-bird sign up for June session.", 
        "data-key" => "#{settings.stripe_publishable_key}", 
        "data-locale" => "auto", 
        "data-billing-address" => true,
        :src => "https://checkout.stripe.com/checkout.js"}
        
