.well{style: 'margin-top: 30px;'}
  .hero{style: 'max-width: 400px; text-align: center;'}
    %h2 Thank you for signing up for Zen Summer Camps!
    %img{src: '/images/logo.jpg', style: 'width: 180px; height: auto; padding-bottom: 20px;'}
    %p
      The June summer camp session will run Jun 13th - 17th. We will send
      more details prior to the start of camp. If you have any questions please 
      contact us at (512) 517-1509 or email zenfitatx@gmail.com.
    %a{href: 'http://www.zenfitaustin.com/', title: 'Visit ZenFitAustin.com >>'} Visit ZenFitAustin.com >>
